button {
    padding: 10px 20px;
    background: greenyellow;
    border-radius: 25px;

    &:hover {
        cursor: pointer;
    }
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    
    .switch-btn {
        position: absolute;
        right: 15px;
        top: 15px;
    }
    
    .container {
        align-self: center;
        text-align: center;

        .title, .signin, .signup {
            margin: 15px;
        }

        .input-field {
            i, input {
                font-size: 20px;
            }

            input {
                margin: 10px;
            }
        }
    }
}