<div class="wrapper">
    <img class="background tr" src="..//..//..//assets//images/auth_back.png">
    <img class="background bl" src="..//..//..//assets//images/boy.jpg">
    <app-logo></app-logo>
    <ng-container *ngIf="isLogin">
        <button class="switch-btn" (click)="toggle()">Signup</button>
        <form class="container" [formGroup]="signinForm" (ngSubmit)="signin()">
            <h1 class="title">Login</h1><br>
            <div class="input-field username">
                <i class="far fa-user"></i>
                <input type="email" formControlName="email" placeholder="Email" required/>
            </div>
            <div class="input-field password">
                <i class="far fa-lock-alt"></i>
                <input type="password" formControlName="password" placeholder="Password" required/>
            </div>
            <br>
            <button class="login large">Login</button>
        </form>
    </ng-container>
    <ng-container *ngIf="!isLogin">
        <button class="switch-btn" (click)="toggle()">Login</button>
        <form class="container" [formGroup]="signupForm" (ngSubmit)="signup()">
            <h1 class="title">Signup</h1>
            <div class="input-field name">
                <i class="far fa-user"></i>
                <input type="text" formControlName="name" placeholder="Name" required/>
            </div>
            <div class="input-field email">
                <i class="far fa-envelope"></i>
                <input type="email" formControlName="email" placeholder="Email" required/>
            </div>
            <div class="input-field password">
                <i class="far fa-lock-alt"></i>
                <input type="password" formControlName="password" placeholder="Password" required/>
            </div>
            <button class="signup large">Signup</button>
        </form>
    </ng-container>
</div>