.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .logout {
        position: absolute;
        right: 0;
        top: 0;
    }
}
