/* You can add global styles to this file, and also import other style files */

input:focus, textarea:focus, select:focus{
    outline: none;
}

* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    width:60px;
    height: 60px;
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}